<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>后台管理系统</title>
    <style>
        #info_image:hover {
            transform: scale(3);
        }

        #info_image:hover {
            transform: scale(3);
        }

        .zhezhao {
            position: fixed;
            left: 0px;
            top: 0px;
            background: black;
            width: 100%;
            height: 100%;
        {#opacity: 0.5;#} background: rgba(0, 0, 0, 0.5)
        }

        .tankuang {
            position: relative;
            background: #fff;
            width: 50%;
            height: 80%;
            border-radius: 5px;
            margin: 5% auto;
        }

        .zhezhao2 {
            position: fixed;
            left: 0px;
            top: 0px;
            background: black;
            width: 100%;
            height: 100%;
        {#opacity: 0.5;#} background: rgba(0, 0, 0, 0.5)
        }

        .tankuang2 {
            position: relative;
            background: #fff;
            width: 50%;
            height: 80%;
            border-radius: 5px;
            margin: 5% auto;
        }

        #header {
            padding-top: 50px;
            height: 80px;
        }

        #header-right {
            position: absolute;
            width: 25px;
            height: 25px;
            border-radius: 5px;
            background: red;
            color: #fff;
            right: 5px;
            top: 5px;
            text-align: center;
        }
    </style>
    <script type="text/javascript">
        function shanchu(user_id) {
            var yzm = '4285';
            var message = prompt("确定要删除改信息吗？\n请输入验证码 " + yzm, "");
            if (message === yzm) {
                var xmlhttp;
                if (window.XMLHttpRequest) {
                    // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                    xmlhttp = new XMLHttpRequest();
                } else {
                    // IE6, IE5 浏览器执行代码
                    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                }
                xmlhttp.open("POST", "/delete_user", true);
                xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xmlhttp.send("user_id=" + user_id);
                alert('删除成功！');
                location.reload();
            } else {
                alert('验证码错误，请重新输入!')
            }
        }
    </script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin_profile">后台管理系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/admin_profile">首页<span class="sr-only">(current)</span></a></li>
                <li><a href="/info_manage">信息管理</a></li>
                <li class="active"><a href="/user_manage">用户管理</a></li>
                <li><a href="/class_manage">分类管理</a></li>
                <li><a href="/auth_manage">审核管理</a></li>
                <li><a href="/system_data">网站数据</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>您好 {{ user }}</a></li>
                <li><a href="/admin_logout">退出</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container" style="width: 90%">
    <div class="tab-pane fade in active" id="info" style="text-align: center">
        <p style="font-size: 20px">用户管理</p>
        <div>
            <table class="table table-striped table-hover" style="text-align: center">
                <tr style="text-align: center">
                    <th style="text-align: center">索引</th>
                    <th style="text-align: center">账号</th>
                    <th style="text-align: center">用户名</th>
                    <th style="text-align: center">注册时间</th>
                    <th style="text-align: center">头像</th>
                    {#                    <th style="text-align: center">发帖数量</th>#}
                    <th style="text-align: center; width: 100px">操作</th>
                </tr>
                {% for data in data %}
                    <tr id="{{ data.user_id }}">
                        <td style="vertical-align: middle">{{ data.user_id }}</td>
                        <td style="vertical-align: middle" class="user_account">{{ data.user_account }}</td>
                        <td style="vertical-align: middle " class="user_name">{{ data.user_name }}</td>
                        <td style="vertical-align: middle" class="user_reg_date">{{ data.user_reg_date }}</td>
                        <td style="vertical-align: middle" class="user_head_image"><img id="info_image"
                                                                                        src="{{ data.user_head_image }}"
                                                                                        width="100" height="100"
                                                                                        alt="图片"></td>
                        {#                        <td style="vertical-align: middle" class="info_count">{{ data.info_count }}</td>#}
                        <td style="vertical-align: middle">
                            <p>
                                <button class="btn-default" onclick="bianji({{ data.user_id }})">编辑</button>
                            </p>
                            <p>
                                <button class="btn-danger" onclick="shanchu({{ data.user_id }})">删除</button>
                            </p>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div style="text-align: center; padding-top: 20px; color:#FF0000; padding-bottom: 20px; background-color: #c9c9c9">
                {% if page==1 %}
                    <span><a href="/user_manage/{{ 1 }}">首页</a></span>
                    <span title="当前页">当前页：{{ page }}</span>
                    <span><a href="/user_manage/{{ page+1 }}">下一页</a></span>
                    <span><a href="/user_manage/{{ page_num+1 }}">尾页</a></span>
                    <span>总页数：{{ page_num + 1 }}</span>
                {% else %}
                    <span><a href="/user_manage/{{ 1 }}">首页</a></span>
                    <span title="当前页">当前页：{{ page }}</span>
                    <span title="上一页"><a href="/user_manage/{{ page-1 }}">上一页</a></span>
                    <span><a href="/user_manage/{{ page+1 }}">下一页</a></span>
                    <span><a href="/user_manage/{{ page_num+1 }}">尾页</a></span>
                    <span>总页数：{{ page_num + 1 }}</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="zhezhao2" id='zhezhao2'>
    <div class="tankuang2">
        <div id="header" style="text-align: center">
            <span style="font-size: 18px">编辑用户信息</span>
            <div id="header-right" onclick="hidder2()">x</div>
        </div>
        <div style="text-align: center">
            <br>
            <form method="post" action="/admin_edit_user">
                <input id="bj_id" style="width: 60%" name="user_id" type="hidden">
                <input id="bj_user_account" style="width: 60%" name="bj_user_account" readonly><br><br>
                <input id="bj_user_name" style="width: 60%" name="bj_user_name"><br><br>
                <input id="bj_reg_date" style="width: 60%" readonly name="bj_reg_date"><br><br>
                <img id="bj_user_head_image" alt="图片" src="" width="30%" height="30%"><br><br>
                <br>
                <div>
                    <span><button class="btn-danger" type="submit">完成编辑</button></span>
                    <span><button class="btn-primary" onclick="hidder2()">取消</button></span>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.getElementById('zhezhao2').style.display = "none";

    function bianji(user_id) {
        var ele = document.getElementById(user_id);
        user_account = ele.getElementsByClassName('user_account').item(0).textContent;
        user_name = ele.getElementsByClassName('user_name').item(0).textContent;
        user_reg_date = ele.getElementsByClassName('user_reg_date').item(0).textContent;
        {#info_count = ele.getElementsByClassName('info_count').item(0).textContent;#}
        user_head_image = ele.getElementsByClassName('user_head_image').item(0).getElementsByTagName('img').item(0).getAttribute('src');
        {#console.log(info_image)#}
        document.getElementById('bj_id').value = user_id;
        document.getElementById('bj_user_account').value = user_account;
        document.getElementById('bj_user_name').value = user_name;
        document.getElementById('bj_reg_date').value = user_reg_date;
        document.getElementById('bj_user_head_image').src = user_head_image;
        {#document.getElementById('bj_info_count').value = info_count;#}
        document.getElementById('zhezhao2').style.display = "";
    }

    function hidder2() {
        document.getElementById('zhezhao2').style.display = "none";
    }
</script>

</body>
</html>