<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>大学生信息发布</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../static/css/weui.min.css">
    <link rel="stylesheet" href="../static/css/message.css">
    <script type="text/javascript">
        function message_click(message_id) {
            window.location.href = "/message_detail/" + message_id;
        }
    </script>

</head>

<body style="height: 100%">


{#顶部导航栏开始#}
<div class="weui-tab" style="height:auto;">
    <div class="weui-navbar" id="navbar">
        <div class="weui-navbar__item">
            消息列表
        </div>
    </div>
</div>
{#顶部导航栏结束#}
<div class="weui-tab__panel"></div>
{# 消息列表开始 #}
{% for message in message %}
    <div class="weui-panel__bd" style="height: 90px" onclick="message_click({{ message.message_id }})">
        <div href="#" class="weui-media-box weui-media-box_appmsg us_message">
            <div class="weui-media-box__hd" style="height: 50px; width: 70px">
                <img style="width: 70px; height: 70px; border-radius: 30%;" src="{{ message.user_head_image }}" alt="">
            </div>
            <div class="weui-media-box__bd" style="height: 50px; padding-top: 10px">
                {% if message.message_status == 0 %}
                    <span class="us_name" style="color: red">{{ message.user_name }}</span>&nbsp;&nbsp;
                    <span style="color: red">{{ message.send_date }}</span>&nbsp;&nbsp;
                {% elif message.message_status == 1 %}
                    <span class="us_name">{{ message.user_name }}</span>&nbsp;&nbsp;
                    <span>{{ message.send_date }}</span>&nbsp;&nbsp;
                {% elif message.message_status == 2 %}
                    <span class="us_name" style="color: blue">{{ message.user_name }}</span>&nbsp;&nbsp;
                    <span style="color: blue">{{ message.send_date }}</span>&nbsp;&nbsp;
                {% endif %}
                <p style="font-size: 16px" class="weui-media-box__desc">{{ message.message_content }}</p>
            </div>
        </div>
    </div>
    <hr>
{% endfor %}

{# 消息列表结束 #}


<div class="weui-tab__panel"></div>

{#底部导航栏开始#}
<div class="weui-tabbar" id="tabbar">
    <a href="/index" class="weui-tabbar__item weui-bar__item--on">
        {#      <span index_class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>#}
        <div class="weui-tabbar__icon">
            <img src="../static/images/index_index.png" alt="">
        </div>
        <p class="weui-tabbar__label">首页</p>
    </a>
    <a href="/index_class" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <img src="../static/images/index_class.png" alt="">
        </div>
        <p class="weui-tabbar__label">分类</p>
    </a>
    <a href="/add_info" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <img src="../static/images/fabu.png" alt="">
        </div>
        <p class="weui-tabbar__label">发布</p>
    </a>
    <a href="/message" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <img src="../static/images/index_msg.png" alt="">
        </div>
        <p class="weui-tabbar__label">信息</p>
    </a>
    <a href="/my_info" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <img src="../static/images/index_user.png" alt="">
        </div>
        <p class="weui-tabbar__label">我</p>
    </a>
</div>
</body>
</html>